*.pack filter=lfs diff=lfs merge=lfs -text
*.angular filter=lfs diff=lfs merge=lfs -text
ng-video-game-db/.angular/cache/14.1.0/angular-webpack/9cb9b4ea7295a93f7eb5ea684a95cf410a14b206/5.pack filter=lfs diff=lfs merge=lfs -text
